@font-face {
  font-family: 'Selima';
  src: url('/fonts/selima/Selima\ .ttf');

}

@font-face {
  font-family: 'norwester';
  src: url('/fonts/norwester/norwester.otf');

}

@font-face {
  font-family: 'virtual';
  src: url('/fonts/virtual/Virtual-Regular.ttf');

}


body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0px;
  max-width: 100%;
}

title{
  font-family: 'norwester'!important;
}




.font__carousel1 {
  font-family: 'norwester';
  font-size: 4vw;
position: relative;
top: 1% ;
left: -35%;
  
}


.font__carousel2{
  font-family: 'virtual';
  color: #FFC300;
  text-shadow:
    0px 0px 5px rgba(0, 0, 0, 0.5),
    /* sombra interior */
    0px 0px 5px rgba(0, 0, 0, 0.5),
    /* sombra interior */
    0px 0px 5px rgba(0, 0, 0, 0.5),
    /* sombra interior */
    0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 7vw;
   position: relative;
   top:-13%;
   left: -39%;
   
}


.font__carousel3{
  font-family: 'norwester';
  font-size: 1.5vw;
  position: relative;
  top:-20%;
  left: -42.2%;


  


}


.titulo__banner1{
  
top: 30%;
right: 50%!important;

}



.titulo__banner2
{
  left: 70%!important;
  top:0%

} 







.font__carousel2-1 {
  font-family: 'norwester';
  font-size: 5vw;
  position: relative;
  top: 55%;
  left: -5%;
  
  
 
}

.font__carousel2-2 {
  font-family: 'norwester';
  font-size: 2vw;
  position: relative;
  top: 52%;
  left: 14.5%;
 
 
}
.font__carousel2-3 {
  font-family: 'virtual';
  font-size: 4vw;
  color: #FFC300;
  text-shadow:
    0px 0px 5px rgba(0, 0, 0, 0.5),
    /* sombra interior */
    0px 0px 5px rgba(0, 0, 0, 0.5),
    /* sombra interior */
    0px 0px 5px rgba(0, 0, 0, 0.5),
    /* sombra interior */
    0px 0px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    left: 23%;
    top: 46.5%;

 
}



/*ojo con esto y las imágenes*/
figure img {
  width: 100%;

}


header.down {
  background: black;
  transition: all 0.5s ease;


}

#title {

  font-size: 2.5rem;
  font-family: 'Selima' !important;
}

.banner__1 {
  font-family: 'Selima';
  color: aliceblue;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}



header.down a {
  color: antiquewhite !important;
  transition: all 0.5s ease;
  font-size: 1.7rem !important;


}


header a {
  font-size: 1.5rem !important;
  font-family: 'Selima' !important;
  text-decoration: none;
  color: black!important;
  

}


.atajos{
  transition: transform 0.2s ease-in-out!important;



}

.atajos:hover {
  transform: scale(1.07)!important;
}


.a__atajos:hover{
  border-bottom: black solid 2px ;

}

.down .a__atajos:hover{
  border-bottom: white solid 2px!important;
}



.logo {
  width: 10.5% ;
}


/*text btn gallery*/

.nav-tabs .nav-link {
text-decoration: none;
color: black;}

button.nav-link:hover {
  transition: all 0.5s ease;
  color: goldenrod;
}


.galeria .active{
  color: #FFC300!important;
}

.galeria{
  font-family: 'norwester';
  margin-bottom: 1%!important;
}

/*Imagenes galería*/
.d-flex>figure>a>img {
  padding: 4px;
  width: 450px !important;
  border-radius: 20px !important;
}


/*fondo fijo sección nosotros*/

.seccion__nosotros {
  background-image: url(media/background/sebastian-mittermeier-pagkGsPGds4-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  color: aliceblue;
  justify-content: center;
  padding: 1%;
}

.quienes__somos {
  width: 30%;
  margin: 1%;
  margin-left: 10%;
  border: black inset 10px;
  border-radius: 5%;
  padding: 2%;
  display: inline-block;
  text-align: center;

}

.title__nosotros {
  font-family: 'selima';
}

.logo__nosotros {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}

.logo__sin__condor {

  z-index: 1;
  /* coloca el elemento por detrás de .logo__sin__condor */

}


#animado {
  position: absolute;
  top: 10%;
  right: 25%;


}


.condor {
  animation-name: mover-condor;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  width: 20%;
  transform: scale(1);
  z-index: 1;
  /* coloca el elemento por detrás de .logo__sin__condor */


}

@keyframes mover-condor {
  0% {
    top: 10%;
    right: 25%;
    transform: scale(0.1);
    z-index: 0;
    /* coloca el elemento por detrás de .logo__sin__condor */

  }

  25% {

    transform: scale(0.5);
    z-index: 0;
    /* coloca el elemento por detrás de .logo__sin__condor */

  }

  50% {
    top: 55%;
    right: 60%;
    transform: scale(0.7);
    z-index: 0;
    /* coloca el elemento por detrás de .logo__sin__condor */

  }

  55% {

    z-index: 1;
    /* coloca el elemento por detrás de .logo__sin__condor */

  }

  75% {

    transform: scale(0.9);
    z-index: 1;
    /* coloca el elemento por detrás de .logo__sin__condor */

  }

  100% {
    top: 10%;
    right: 25%;
    transform: scale(1);
    z-index: 1;
    /* coloca el elemento por detrás de .logo__sin__condor */

  }
}




.nuestros__pilotos {
  background-image: url(media/background/nuestros__piolotos.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*logo wp fijo*/
.wp {
  bottom: 2rem;
  position: fixed;
  z-index: 3;
  right: 2rem;
  filter: drop-shadow(0.8rem 0.8rem 0.8rem #0008);
}

.wp:hover {
  scale: 1.1;
  transition: all 0.2s ease;
}

/*positionElementsul-responsive*/
ul.navbar-nav {
  margin-left: auto;
}

/*backgroundcolorHeader-responsive*/

@media screen and (max-width: 767px) {
  header {
    position: relative !important;
    background: #1483D5;
    ;
  }

  ;
}

/*positionHeader-responsive*/
@media screen and (max-width: 767px) {
  header.down {
    position: fixed !important;
  }
}





.pilot {
  width: 25em;
  height: 25em;
  border: 2px solid black;
  border-radius: 50%;
}






@keyframes efecto__titulo__header {
  0% {
    opacity: 1;

  }


  50% {
    opacity: 0;

  }

  75% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }
}

header.down .titulo__header {
  animation: efecto__titulo__header 0.4s linear 2;
}


#title:hover {
  animation: efecto__titulo__header 0.4s linear 2;
}




header.down .a__atajos {
  animation: flicker 0.4s linear 2;
}








.img__carousel {
  animation: zoom-in 5s infinite;
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.02);
  }
}



body {
  margin: 0;
  padding: 0;
}

.videoss {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



/* Reglas para pantallas medianas */
@media only screen and (min-width: 481px) and (max-width: 1645px) {
  .logo__nosotros {
    display: none;


  }
  .quienes__somos{
width:100%;
margin: 0 25% 0% 25%;
  }
}


/* Reglas para pantallas chicas */
@media only screen and (max-width: 1000px) {
  .quienes__somos {

    width: 100%;
    margin: 5%;
    font-size: 0.8rem;
  }
  .logo__nosotros {
    display: none;
  }

.navbar__logo__titulo{
  display: flex;

  }

  .logo{
    width:15%!important
    ;margin-right: 3%;
  }
.navbar-nav{
  justify-content: center;
  display: flex;
  align-items: center;
}

.indicadores{
  display: none;
}
}